<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create A New Card</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Account" formControlName="account" #account>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Fio" formControlName="fio" #fio>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Post" formControlName="post" #post>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input  matInput placeholder="Status" formControlName="status" #status>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/">Back</button>&nbsp;
      <button style="margin-right:5px" type="submit" (click)="addCard(status.value, account.value, fio.value, post.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save JSON File</button>
      <button type="submit" (click)="addDataStoreCard(status.value, account.value, fio.value, post.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save DS</button>
    </form>
  </mat-card>
</div>
